<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="list-inline">
                    <li>
                        <a href="https://twitter.com/lukin0110">
                        <i class="fa fa-twitter"></i>
                        <span class="username">lukin0110</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/lukin0110">
                        <i class="fa fa-github"></i>
                        <span class="username">GitHub</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://medium.com/@lukin0110">
                        <i class="fa fa-medium"></i>
                        <span class="username">lukin0110</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://be.linkedin.com/in/mhuijsmans">
                        <i class="fa fa-linkedin"></i>
                        <span class="username">LinkedIn</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
