<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="theme-color" content="#4acaa8"/>
		<link rel="dns-prefetch" href="//fonts.googleapis.com"/>
		<title>Maarten Huijsmans - @lukin0110 🚀</title>
    <meta name="description" content="I'm Maarten Huijsmans, a Freelance Senior Software Engineer. I help you with complex Python, Computer Vision and Machine Learning projects.">
    <meta name="keywords" content="maarten, huijsmans, freelance, software engineer, python, fastapi, django, docker, data scraping, Amazon Web Services, computer vision, Google Cloud">
		{{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="canonical" href="{{ .Permalink }}">
    <link rel="shortlink" href="{{ .Permalink }}">
	</head>

	<body class="is-preload">
		<!-- Header -->
			<section id="header">
				<header>
					<span class="image avatar"><img src="images/mh.jpg" alt="Maarten Huijsmans"/></span>
					<h1 id="logo"><a href="/">Maarten Huijsmans</a></h1>
					<p>Freelance Senior Software Engineer<br/>Python Developer & Cloud Architect<br><a href="mailto:maarten@lukin.be">maarten@lukin.be</a></p>
				</header>
				<nav id="nav">
					<ul>
						<li><a href="#about" class="active">About Me</a></li>
						<li><a href="#thingsicando">Things I Can Do</a></li>
						<li><a href="#currentwork">Current Work</a></li>
					</ul>
				</nav>
				<footer>
					<ul class="icons">
						<li><a href="https://github.com/lukin0110" class="icon brands fa-github"><span class="label">Github</span></a></li>
						<!--<li><a href="https://medium.com/@lukin0110" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>-->
						<li><a href="https://twitter.com/lukin0110" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="http://be.linkedin.com/in/mhuijsmans" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
						<li><a href="mailto:maarten@lukin.be" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
					</ul>
				</footer>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="about">
								<div class="container">
									<header class="major">
										<h2>Maarten Huijsmans</h2>
										<p>Freelance Senior Software Engineer 👨‍💻<br/>Python Developer & Cloud Architect 🚀</p>
									</header>
									<p>I imagine, hack, shape and build high quality software products. I have several years of experience
										building distributed cloud systems and I can help you with complex <em>Python projects</em> &
										<em>Machine Learning production deployments</em>.</p>

									<!--
									<p>I've co-founded a non-profit: <a href="https://webmonks.io">WebMonks</a>. Our goal is to
										create fair digital job opportunities in economic depressed regions. I spend <strong>50%</strong>
										of my time on freelance projects and <strong>50%</strong> on
										<a href="https://webmonks.io">WebMonks</a>.</p>
									-->
									<p>I've also co-founded a non-profit: <a href="https://humainly.com">Humainly</a>. Our goal is to
										create fair digital job opportunities in economic depressed regions.</p>
								</div>
							</section>

						<!-- Two -->
							<section id="thingsicando">
								<div class="container">
									<h3>Things I Can Do</h3>
									<p>I prefer to work with the <a href="https://www.python.org/">Python</a>,
										<a href="https://golang.org/">Go</a> & <a href="https://nodejs.org/en/">Node</a> programming
										languages. I can build highly scalable software systems and deploy them with
										<a href="https://www.docker.com/">Docker</a> &
										<a href="https://kubernetes.io/">Kubernetes</a> on <a href="https://aws.amazon.com/">AWS</a>,
										<a href="https://cloud.google.com/">Google Cloud</a> & <a href="https://azure.microsoft.com/">Azure</a>.</p>
									<ul class="feature-icons">
										<li class="icon solid fa-code">Build robust software</li>
										<li class="icon solid fa-cubes">Build data scrapers</li>
										<li class="icon solid fa-book">Deploy Machine Learning systems</li>
										<li class="icon solid fa-coffee">Drink coffee</li>
										<li class="icon solid fa-bolt">Setup <a href="https://www.quora.com/What-is-CI-CD">CI/CD</a> pipelines</li>
										<li class="icon solid fa-network-wired">Build <a href="https://en.wikipedia.org/wiki/Distributed_computing">distributed systems</a></li>
									</ul>
								</div>
							</section>

						<!-- Three -->
							<section id="currentwork">
								<div class="container">
									<h3>What am I currently working on</h3>
									<p>I'm spending <strong>50%</strong> of my time on freelance projects and <strong>50%</strong> on <a href="https://humainly.com">Humainly</a>.</p>
									<div class="features">
										<article>
											<a href="https://humainly.com" class="image"><img src="/images/logo-humainly.png" alt="Humainly" /></a>
											<div class="inner">
												<header>
													<h4>Humainly</h4>
													<p>co-founder - <a href="https://humainly.com">humainly.com</a></p>
												</header>
												<p><strong>Accurate Image Annotation for visual AI.</strong> More of your money is spent on Quality Control because of Humainly's unique Non-Profit mission.</p>
											</div>
										</article>
										<article>
											<a href="https://investsuite.com" class="image"><img src="/images/logo-investsuite.png" alt="InvestSuite" /></a>
											<div class="inner">
												<header>
													<h4>InvestSuite</h4>
													<p>Freelance - <a href="https://investsuite.com">investsuite.com</a></p>
												</header>
												<p><strong>Wealthtech as a service.</strong> InvestSuite helps banks, brokers, wealth managers and other financial institutions serve
													their clients better with their suite of modern digital investment solutions.</p>
											</div>
										</article>
										<article>
											<a href="https://radix.ai" class="image"><img src="/images/logo-radix.png" alt="Radix AI" /></a>
											<div class="inner">
												<header>
													<h4>Radix AI</h4>
													<p>Freelance - <a href="https://radix.ai">radix.ai</a></p>
												</header>
												<p><strong>Radix is an Artificial Intelligence agency.</strong> They empower organizations with AI, leading them to increased productivity and profitability.</p>
											</div>
										</article>
									</div>
								</div>
							</section>
					</div>
			</div>

		<!-- Scripts -->
		{{ $js1 := resources.Get "js/jquery.min.js" }}
		{{ $js2 := resources.Get "js/jquery.scrollex.min.js" }}
		{{ $js3 := resources.Get "js/jquery.scrolly.min.js" }}
		{{ $js4 := resources.Get "js/browser.min.js" }}
		{{ $js5 := resources.Get "js/breakpoints.min.js" }}
		{{ $js6 := resources.Get "js/util.js" }}
		{{ $js7 := resources.Get "js/main.js" }}

		<!--
		<script src="{{ $js1.RelPermalink }}"></script>
		<script src="{{ $js2.RelPermalink }}"></script>
		<script src="{{ $js3.RelPermalink }}"></script>
		<script src="{{ $js4.RelPermalink }}"></script>
		<script src="{{ $js5.RelPermalink }}"></script>
		<script src="{{ $js6.RelPermalink }}"></script>
		<script src="{{ $js7.RelPermalink }}"></script>
		-->

		{{ $js := slice $js1 $js2 $js3 $js4 $js5 $js6 $js7 | resources.Concat "js/bundle.js" | minify | fingerprint }}
		<script src="{{ $js.RelPermalink }}"></script>

		<script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-24094817-1']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
		<!-- /Scripts -->

	</body>
</html>