<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns:og="http://opengraphprotocol.org/schema/" id="lukin0110">
<head>
	<meta charset="utf-8"/>
    <title>Lukin.be - I got a spot at Lukin's</title>
    <meta name="description" content="I got a spot at Lukin's"/>
    <meta name="keywords" content="YouTube Instant, Amazon, AWS, google, code, chrome, extension"/>
    <meta property="fb:app_id" content="117844644948494"/>
    <meta property="og:site_name" content="Lukin"/>
    <meta property="og:url" content="http://www.lukin.be"/>
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker&v1' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="/s/style.css" type="text/css"/> 
</head>
<body>
<div id="wrapper">
	<div id="content">
		<h1>Rough guide to @lukin0110</h1>
		<div id="boxes" class="clearfix">
			<div class="box"><a href="http://www.twitter.com/lukin0110" title="on Twitter"><img src="/s/twitter.png" alt="Twitter"/></a></div>
			<div class="box"><a href="http://lukin0110.tumblr.com" title="on Tumblr"><img src="/s/tumblr.png" alt="Tumblr"/></a></div>
            <div class="box"><a href="http://www.quora.com/Maarten-Huijsmans" title="on Quora"><img src="/s/quora.png" alt="Quora" width="48" height="48"/></a></div>
		</div>

		<h1>Some things i'm developing on ...</h1>
		<div id="o43" class="clearfix">
            <div class="project clearfix">
                <!-- Coming soon... Dinto, yezz cooking-->
            </div>
            <div class="project clearfix" onclick="window.location='http://shopliv.es'" title="Shoplives">
                <div class="icon"><img src="/s/shoplives.png" alt="Shoplives"/></div>
                <div class="desc">
                    <h2>Shoplives</h2>
                    <p>Collect and Discover beautiful things to shop</p>
                    <p>Get your invite here: <a href="http://shopliv.es">shopliv.es</a></p>
                </div>
            </div>
		    <div class="project clearfix" onclick="window.location='https://github.com/lukin0110/aws-ant-tasks'" title="AWS Ant Tasks">
				<div class="icon"><img src="/s/p/aws.png" alt="AWS"/></div>
				<div class="desc">
					<h2>AWS ant tasks</h2>
					<p>I created a few ant tasks to manage S3 and CloudFront of the Amazon Web Services.</p>
					<p>The code lives on <a href="https://github.com/lukin0110/aws-ant-tasks">Github</a></p>
				</div>
			</div>
			<div class="project clearfix" onclick="window.location='https://chrome.google.com/webstore/detail/lnajachlebjlnfeglgoecpfcbaiigbja'" title="Social Extensions for Chrome">
				<div class="icon"><img src="/s/p/chrome.png" alt="Chrome"/></div>
				<div class="desc">
					<h2>YouTube for Chrome</h2>
					<p>I'm working on a few simple extensions for Chrome to make life easier:).  For now it only has one extension: <a href="https://chrome.google.com/webstore/detail/lnajachlebjlnfeglgoecpfcbaiigbja">YouTube Instant</a>, search YouTube Instantly.</p>
					<p>The code lives on <a href="https://github.com/lukin0110/chrome-youtube-instant">Github</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

<a href="https://github.com/lukin0110"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>

<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24094817-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>

